.challenges-p {
    margin-left: 52px !important;
}

.challenges-header {
    font-size: 1.3em;
    text-decoration: underline;
    margin-right: 2px;
}

.challenges-icon {
    text-align: center;
    vertical-align: text-bottom;
}

.challeges-icon {
    margin-left: 10px;
}

.circle:before {
    margin: auto;
    content: " \25CF";
    font-size: 35px;
    color: #fff;
}

.circle-one:before {
    margin: auto;
    content: " \25CF";
    font-size: 35px;
    color: #fff;
    position: fixed;
}

.name-bottom {
    margin-bottom: -5px !important;
}
