.challenges-p {
    margin-left: 52px !important;
}

.challenges-header {
    font-size: 1.3em;
    text-decoration: underline;
}

.challeges-icon {
    margin-left: 10px;
}

.circle:before {
    margin: auto;
    content: " \25CF";
    font-size: 35px;
    color: #fff;
}

.circle-one:before {
    margin: auto;
    content: " \25CF";
    font-size: 35px;
    color: #fff;
    position: fixed;
}

.test {
    background-color: yellow;
}

.custom-header {
    margin-bottom: 0.4em;
    font-size: 6.25em;
    font-size: 4em;
    margin-bottom: 0.57143em;
    font-size: 4em;
    font-weight: 300;
}
