{% set page_title = 'About Us' %} {% set navbar_dark = true %} {% set
navbar_mobile = 'style-2' %} {% set navbar_mobile_dark = true %} {% set
navbar_fixed = true %} {% set navbar_expand = true %} {% set footer =
'default-2' %} {% set footer_dark = true %} {% extends 'layouts/layout-1.html'
%} {% block content %}
<div
    class="py-160 d-flex align-items-center position-relative lines-style-3"
    style="height: 90vh"
>
    <div class="line text-white"></div>

    <div class="background bg-dark">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img
                src="assets/images/covers/cover-5.jpg"
                class="jarallax-img"
                alt=""
            />
        </div>
        <div
            class="background-color"
            style="background-color: #0e0e0e; opacity: 0.2"
        ></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div
                class="col-12 col-lg-8 show-on-scroll"
                data-show-duration="700"
            >
                <h1 class="text-white mb-0">
                    We were born from a collective idea, a need for sharing.
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="py-160 shape-parent overflow-hidden">
    <div class="shape justify-content-end">
        <svg
            class="mr-n90 mt-n160"
            width="641"
            height="641"
            viewBox="0 0 641 641"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5" />
        </svg>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="row gh-5 gv-5">
                    <div class="col-12 col-md-10 col-lg-9">
                        <p
                            class="subtitle mt-n10 show-on-scroll"
                            data-show-duration="500"
                            data-show-distance="10"
                            data-show-delay="50"
                        >
                            who we are
                        </p>
                        <h3
                            class="mb-n7 show-on-scroll"
                            data-show-duration="500"
                            data-show-distance="10"
                            data-show-delay="150"
                        >
                            An award-winning design & dev team that is proud of
                            our work 👋
                        </h3>
                    </div>

                    <div
                        class="col-12 col-md-6 show-on-scroll"
                        data-show-duration="700"
                    >
                        <p class="lead mb-30">
                            We create custom software that streamlines
                            operations and accelerates growth.
                        </p>
                        <p class="mb-3">
                            Creepeth. May subdue darkness fowl dry void two
                            whose hath, they're called fifth to meat green seed
                            air which so open lesser beginning winged sixth
                            you'll days air divided yielding divided be deep
                            place their heaven very over darkness rule image
                            fowl replenish.
                        </p>
                        <img
                            class="w-100 mt-100"
                            src="assets/images/about/about-us-content.jpg"
                            alt=""
                        />
                    </div>

                    <div
                        class="col-12 col-md-6 show-on-scroll"
                        data-show-duration="700"
                    >
                        <div
                            class="swiper swiper-button-style-3 mt-7"
                            data-swiper-slides="1"
                            data-swiper-speed="600"
                            data-swiper-loop="true"
                            data-swiper-parallax="true"
                        >
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide overflow-hidden">
                                        <div
                                            class="swiper-image"
                                            data-swiper-parallax-x="20%"
                                        >
                                            <img
                                                class="w-100"
                                                src="assets/images/about/about-us-slide-940-1000.jpg"
                                                alt=""
                                            />
                                        </div>
                                    </div>

                                    <div class="swiper-slide overflow-hidden">
                                        <div
                                            class="swiper-image"
                                            data-swiper-parallax-x="20%"
                                        >
                                            <img
                                                class="w-100"
                                                src="assets/images/about/about-us-slide-2-940-1000.jpg"
                                                alt=""
                                            />
                                        </div>
                                    </div>

                                    <div class="swiper-slide overflow-hidden">
                                        <div
                                            class="swiper-image"
                                            data-swiper-parallax-x="20%"
                                        >
                                            <img
                                                class="w-100"
                                                src="assets/images/about/about-us-slide-3-940-1000.jpg"
                                                alt=""
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-button-next bg-white">
                                {{ icon.arrow_right | safe }}
                            </div>
                            <div class="swiper-button-prev bg-white">
                                {{ icon.arrow_left | safe }}
                            </div>
                        </div>

                        <p class="pt-3 mt-100 mb-0">
                            Evening saw there were bring. Spirit can't replenish
                            from. Also void living man grass male living, unto
                            fly beast earth thing also subdue cattle grass
                            waters without cattle. His them seasons. Living
                            winged give very given first is. Life saw it saying
                            waters very fly. Fly dry had fill grass Two his
                            saying.
                        </p>
                    </div>
                </div>

                <hr class="mt-160 pb-8" />

                <div class="mb-n7">
                    <div class="row gv-2 justify-content-around text-center">
                        <div class="col-sm-6 col-md-auto">
                            <div
                                class="number-box show-on-scroll"
                                data-show-duration="500"
                                data-show-distance="15"
                                data-show-delay="50"
                            >
                                <div class="number-box-title h1">106</div>
                                <div class="number-box-subtitle">projects</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-auto">
                            <div
                                class="number-box show-on-scroll"
                                data-show-duration="500"
                                data-show-distance="15"
                                data-show-delay="150"
                            >
                                <div class="number-box-title h1">12</div>
                                <div class="number-box-subtitle">years</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-auto">
                            <div
                                class="number-box show-on-scroll"
                                data-show-duration="500"
                                data-show-distance="15"
                                data-show-delay="250"
                            >
                                <div class="number-box-title h1">76</div>
                                <div class="number-box-subtitle">feedbacks</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-auto">
                            <div
                                class="number-box show-on-scroll"
                                data-show-duration="500"
                                data-show-distance="15"
                                data-show-delay="350"
                            >
                                <div class="number-box-title h1">9</div>
                                <div class="number-box-subtitle">awards</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    class="py-130 bg-dark text-white shape-parent overflow-hidden lines-style-4"
>
    <div class="line"></div>
    <div class="line"></div>

    <div class="shape mt-n160">
        <svg
            data-rellax-speed="-1"
            width="535"
            height="525"
            viewBox="0 0 535 525"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="214.5" cy="204.5" r="320.5" fill="#202020" />
        </svg>
    </div>

    <div class="container">
        <div class="row gh-1 gv-3">
            <div class="col-lg-4 col-xl-3">
                <div class="subtitle">our clients</div>
                <h2 class="h3 text-white">What our client say about us</h2>
            </div>

            <div class="d-none d-lg-block col-lg-1 col-xl-2"></div>
            <div class="col-lg-6">
                <div
                    class="swiper swiper-review-2"
                    data-swiper-slides="1"
                    data-swiper-gap="30"
                    data-swiper-grabCursor="true"
                >
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% macro review_slide(name="") %}
                            <div class="swiper-slide">
                                <div class="media media-review">
                                    <img
                                        src="{{ review[name].avatar }}"
                                        class="media-img rounded-circle"
                                        alt=""
                                    />
                                    <div class="media-body align-self-center">
                                        <h5 class="media-title mt-0 text-white">
                                            {{ review[name].name }}
                                        </h5>
                                        <div class="media-subtitle">
                                            {{ review[name].subtitle }}
                                        </div>
                                    </div>
                                    <p class="media-text mb-0 lead">
                                        {{ review[name].text }}
                                    </p>
                                </div>
                            </div>
                            {% endmacro %} {{ review_slide('brian_newton') }} {{
                            review_slide('june_oliver') }} {{
                            review_slide('james_hamilton') }}
                        </div>
                    </div>

                    <div class="swiper-button-next">
                        {{ icon.arrow_right | safe }}
                    </div>
                    <div class="swiper-button-prev">
                        {{ icon.arrow_left | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="pb-160">
    <div class="container">
        <h2 class="display-4 mb-60 pb-30 text-center">Values</h2>

        <div
            class="swiper mt-n4"
            data-swiper-slides="3"
            data-swiper-breakpoints="828:1, 1024:2"
            data-swiper-gap="60"
            data-swiper-free="true"
            data-swiper-grabCursor="true"
            data-swiper-freeMode="true"
        >
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% macro slide_feature(name="") %}
                    <div class="swiper-slide">{{ feature_global(name) }}</div>
                    {% endmacro %} {{ slide_feature( 'quality' ) }} {{
                    slide_feature( 'service' ) }} {{ slide_feature( 'people' )
                    }} {{ slide_feature( 'ideas' ) }}
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>

<div class="pt-130 pb-160 bg-dark shape-parent overflow-hidden lines-style-1">
    <div class="line text-white"></div>
    <div class="line text-white"></div>

    <div class="shape align-items-end justify-content-center">
        <svg
            data-rellax-speed="1"
            class="mb-n160"
            width="641"
            height="641"
            viewBox="0 0 641 641"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="320.5" cy="320.5" r="320.5" fill="#202020" />
        </svg>
    </div>

    <div
        class="swiper swiper-reviews text-white text-center"
        data-swiper-slides="1"
        data-swiper-autoHeight="true"
        data-swiper-speed="600"
        data-swiper-grabCursor="true"
    >
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% macro review_slide(name="") %}
                <div class="swiper-slide">
                    <div class="review container-fluid">
                        <div class="review-icon">
                            {{ review[name].icon | safe }}
                        </div>
                        <div class="review-text">
                            <p class="mb-0">{{ review[name].text }}</p>
                        </div>
                        <div class="review-author">
                            {{ review[name].name }}, {{ review[name].subtitle }}
                        </div>
                    </div>
                </div>
                {% endmacro %} {{ review_slide('brian_newton') }} {{
                review_slide('june_oliver') }} {{ review_slide('james_hamilton')
                }}
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="container">
    <div class="pt-160">
        <div
            class="
                row
                gh-1
                gv-3
                text-center text-lg-left text-xl-left
                justify-content-md-center
            "
        >
            <div class="d-none d-xl-block col-lg-1"></div>
            <div class="col-12 col-lg-4">
                <p class="subtitle mt-n10">our clients</p>
                <h2 class="h3">We've worked with 50+ brands</h2>
            </div>
            <div class="d-none d-lg-block col-lg-2 col-xl-1"></div>
            <div class="col-md-8 col-lg ml-lg-n30 text-center">
                <div
                    class="
                        row
                        gh-1
                        gv-3
                        align-items-center
                        justify-content-between
                    "
                >
                    {% macro brand_col(name="", delay="") %}
                    <div
                        class="col-6 col-sm-auto show-on-scroll"
                        data-show-delay="{{ delay }}"
                        data-show-duration="500"
                        data-show-distance="20"
                    >
                        <a href="#" class="brand text-grey">
                            {{ brands[name] | safe }}
                        </a>
                    </div>
                    {% endmacro %} {{ brand_col('natural', '50') }} {{
                    brand_col('wave', '100') }} {{ brand_col('retro', '150') }}
                    {{ brand_col('hub', '200') }} {{ brand_col('iconic', '250')
                    }} {{ brand_col('hipster', '300') }}
                </div>
            </div>
            <div class="d-none d-xl-block col-lg-1"></div>
        </div>
    </div>

    <div class="pt-160">
        <h2 class="text-center mb-100 mt-n10">What’s new?</h2>

        <div class="row gh-1 gv-4 pb-30">
            {% macro card_blog_column(name="", delay="") %}
            <div
                class="col-12 col-sm-6 col-lg-4 show-on-scroll"
                data-show-delay="{{ delay }}"
                data-show-duration="500"
                data-show-distance="20"
            >
                {{ card_blog_global(name) }}
            </div>
            {% endmacro %} {{ card_blog_column('01', '100') }} {{
            card_blog_column('02', '200') }} {{ card_blog_column('03', '300') }}
        </div>

        <div class="text-center pt-60 mt-n8">
            <a href="blog-col-3.html" class="btn btn-dark btn-with-ball"
                >all posts</a
            >
        </div>
    </div>

    <div class="pt-160 pb-130 text-center text-md-left">
        <hr class="mt-0 mb-100 pb-7" />
        <div
            class="
                row
                gv-1
                pb-7
                mb-n30
                align-items-center
                justify-content-center justify-content-md-between
            "
        >
            <div class="col-md-10 col-lg-8 mr-md-auto">
                <div class="interactive-links">
                    <img
                        class="interactive-links-image"
                        src="assets/images/portfolio/work-together.jpg"
                        width="230"
                        alt=""
                    />
                    <a href="contact-1.html" class="nav-link display-4"
                        ><u>Let’s work</u> together</a
                    >
                </div>
            </div>
            <div class="col-auto">
                <a href="contact-1.html" class="btn btn-clean mr-xl-100">
                    <svg
                        class="icon-arrow icon-arrow-right"
                        width="69"
                        height="30"
                        viewBox="0 0 69 30"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M54 2L67 15L54 28"
                            stroke="currentColor"
                            stroke-width="2.4"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M17 15L67 15"
                            stroke="currentColor"
                            stroke-width="2.4"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
