{% set page_title = 'Custom software for growth' %} {% set navbar_dark = true %}
{% set navbar_fixed = true %} {% set navbar_expand = true %} {% set
navbar_mobile_dark = true %} {% set footer_dark = true %} {% extends
'layouts/layout-1.html' %} {% block content %}

<div
    class="
        py-160
        min-vh-100
        d-flex
        align-items-center
        position-relative
        lines-style-3
    "
>
    <div class="line text-white"></div>

    <div class="background">
        <div class="background show-on-scroll" data-show-duration="400">
            <div
                class="background-video jarallax"
                data-jarallax-video="mp4:assets/videos/a1.mp4"
            ></div>
            <div
                class="background-color"
                style="background-color: #0e0e0e; opacity: 0.4"
            ></div>
        </div>

        <div
            class="background-color"
            style="background-color: rgb(14, 14, 14, 0.2)"
        ></div>
    </div>

    <div class="container">
        <div
            class="col-lg-10 display-4 show-on-scroll"
            style="color: #fff !important"
            data-show-duration="1500"
            data-show-distance="35"
        >
            <!-- We build products and platforms for <br />
            streamlined performance. -->

            <!-- Let your process be your competitive advantage. -->

            <!-- We build the digitial engine for your business. -->

            <!-- We use data and design to solve business problems. -->

            <!-- We find clarity in the complex. -->

            <!-- Custom software for piece of mind. -->

            <!-- We create custom software for speed, performance, and growth. -->

            We are a design & development studio focused on business efficiency.

            <!-- Custom software designed and developed to perfectly fit your growing
            business. -->
            <!-- 
            We are a design and development studio working at the intersection
            of data, design, and productivity. -->

            <!-- We help our clients work smarter. -->

            <!-- Technology as your comptetive advantage. -->
        </div>
    </div>
</div>

<div class="py-160 shape-parent overflow-hidden">
    <div class="shape mt-n160 justify-content-end">
        <svg
            data-rellax-speed="-1"
            class="mt-n160"
            width="498"
            height="641"
            viewBox="0 0 498 641"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5" />
        </svg>
    </div>

    <div class="container mt-n10 overflow-hidden">
        <div class="row justify-content-center align-items-center gh-5 gv-5">
            <div
                class="col-12 col-lg-6 col-xl-5 show-on-scroll"
                data-show-duration="800"
            >
                <div class="subtitle">what we do</div>
                <h2 class="h3">
                    We create custom software that streamlines operations and
                    accelerates growth.
                </h2>
                <p>
                    Our approach is to use data and design to create incredibly
                    useful and intuitive software platforms that eliminate the
                    barriers that lie between you, your clients, and your
                    profitability.
                </p>
                <a href="services.html" class="btn btn-dark btn-with-ball"
                    >all services</a
                >
            </div>

            <div
                class="col-12 col-lg-6 col-xl-5 show-on-scroll"
                data-show-delay="200"
                data-show-duration="800"
            >
                <ul class="nav nav-md nav-bordered flex-column">
                    <li class="nav-item">
                        <a href="services.html#ia" class="nav-link">
                            Information Architecture {{ icon.arrow_right | safe
                            | replace('svg width', 'svg class="icon-arrow
                            icon-arrow-right" width') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="services.html#development" class="nav-link">
                            Web / Mobile Development {{ icon.arrow_right | safe
                            | replace('svg width', 'svg class="icon-arrow
                            icon-arrow-right" width') }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            UX / UI Design {{ icon.arrow_right | safe |
                            replace('svg width', 'svg class="icon-arrow
                            icon-arrow-right" width') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="py-160" id="featured-work">
    <div class="container isotope" data-isotope-mode="fitRows">
        <div class="row justify-content-center mb-100 mb-md-5">
            <div class="col-12 col-lg-10 mt-8">
                <div class="row justify-content-between gh-1">
                    <div class="col-md col-lg-6">
                        <h2 class="h2 mt-n30">Featured work</h2>
                    </div>
                    <div class="d-none d-lg-block col-auto">
                        <hr class="mt-30 mx-2 width-70px" />
                    </div>
                    <div class="col-auto">
                        <a href="" class="btn btn-dark btn-with-ball"
                            >all work</a
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row gh-1 gv-5 isotope-grid">
            <div class="col-lg-1 d-none d-lg-block isotope-item"></div>
            <div class="col-md-5 col-lg-4 mt-md-160 isotope-item">
                {{ card_project_global(name='mortgage_app',
                image_size="md_vertical", classes='card-hover-frame
                show-on-scroll', data='data-show-delay=80 data-show-duration=600
                data-show-distance=20') }}
            </div>
            <div class="col-lg-1 d-none d-lg-block isotope-item"></div>
            <div class="col-md-7 col-lg-6 pl-lg-0 isotope-item">
                {{ card_project_global(name='retail_analytics', image_size="md",
                classes='card-hover-frame show-on-scroll',
                data='data-show-delay=160 data-show-duration=600
                data-show-distance=20') }}
            </div>
            <div
                class="
                    col-md-7 col-lg-6
                    pl-lg-0
                    ml-lg-30
                    mr-lg-n30
                    isotope-item
                "
            >
                {{ card_project_global(name='custom_erp', image_size="md",
                classes='card-hover-frame show-on-scroll',
                data='data-show-delay=240 data-show-duration=600
                data-show-distance=20') }}
            </div>
            <div class="col-lg-1 d-none d-lg-block isotope-item"></div>
            <div class="col-md-5 col-lg-4 mt-md-n160 isotope-item">
                {{ card_project_global(name='watch_design',
                image_size="md_vertical", classes='card-hover-frame
                show-on-scroll', data='data-show-delay=320
                data-show-duration=600 data-show-distance=20') }}
            </div>
        </div>
    </div>
</div>
<div
    class="py-130 bg-dark text-white shape-parent overflow-hidden lines-style-4"
>
    <div class="line"></div>
    <div class="line"></div>

    <div class="shape mt-n160">
        <svg
            data-rellax-speed="-1"
            width="535"
            height="525"
            viewBox="0 0 535 525"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="214.5" cy="204.5" r="320.5" fill="#202020" />
        </svg>
    </div>
    <div class="container">
        <div class="row gh-1 gv-3">
            <div class="col-lg-4 col-xl-3">
                <div class="subtitle">our clients</div>
                <h2 class="h3 text-white">What our client say about us</h2>
            </div>
            <div class="d-none d-lg-block col-lg-1 col-xl-2"></div>
            <div class="col-lg-6">
                <div
                    class="swiper swiper-review-2"
                    data-swiper-slides="1"
                    data-swiper-gap="30"
                    data-swiper-grabCursor="true"
                >
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% macro review_slide(name="") %}
                            <div class="swiper-slide">
                                <div class="media media-review">
                                    <img
                                        src="{{ review[name].avatar }}"
                                        class="media-img rounded-circle"
                                        alt=""
                                    />
                                    <div class="media-body align-self-center">
                                        <h5 class="media-title mt-0 text-white">
                                            {{ review[name].name }}
                                        </h5>
                                        <div class="media-subtitle">
                                            {{ review[name].subtitle }}
                                        </div>
                                    </div>
                                    <p class="media-text mb-0 lead">
                                        {{ review[name].text }}
                                    </p>
                                </div>
                            </div>
                            {% endmacro %} {{ review_slide('michael_delzer') }}
                            {{ review_slide('james_hamilton') }}
                        </div>
                    </div>
                    <div class="swiper-button-next">
                        {{ icon.arrow_right | safe }}
                    </div>
                    <div class="swiper-button-prev">
                        {{ icon.arrow_left | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="whats-new" class="container mt-n10">
    <div class="pt-160">
        <h2 class="text-center mb-100 mt-n10">What's new</h2>

        <div class="row gh-1 gv-4 pb-30">
            {% macro card_blog_column(name="", delay="") %}
            <div
                class="col-12 col-sm-6 col-lg-4 show-on-scroll"
                data-show-delay="{{ delay }}"
                data-show-duration="500"
                data-show-distance="20"
            >
                {{ card_blog_global(name) }}
            </div>
            {% endmacro %} {{ card_blog_column('01', '100') }} {{
            card_blog_column('02', '200') }} {{ card_blog_column('03', '300') }}
        </div>

        <div class="text-center pt-60 mt-n8">
            <a href="blog.html" class="btn btn-dark btn-with-ball">all posts</a>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>

<div class="container mt-n10">
    <div class="pt-160">
        <h2 class="text-center mb-100 mt-n10"></h2>
    </div>
    <br />
    <br />
    <br />
</div>
{% endblock %}
