{% set page_title = 'Custom software for growth' %} {% set navbar_dark = true %}
{% set navbar_fixed = true %} {% set navbar_expand = true %} {% set
navbar_mobile_dark = true %} {% set footer_dark = true %} {% extends
'layouts/layout-1.html' %} {% block content %}

<div
    class="
        py-160
        min-vh-100
        d-flex
        align-items-center
        position-relative
        lines-style-3
    "
>
    <div class="line text-white"></div>

    <div class="background">
        <div class="background show-on-scroll" data-show-duration="400">
            <div
                class="background-video jarallax"
                data-jarallax-video="mp4:assets/videos/coming-soon.mp4"
            ></div>
            <div
                class="background-color"
                style="background-color: #0e0e0e; opacity: 0.4"
            ></div>
        </div>

        <div
            class="background-color"
            style="background-color: rgb(14, 14, 14, 0.2)"
        ></div>
    </div>

    <div class="container text-center">
        <h1
            class="h1 show-on-scroll"
            style="color: #fff !important"
            data-show-duration="500"
            data-show-distance="15"
        >
            <!-- We build products and platforms for <br />
            streamlined performance. -->

            <!-- Let your process be your competitive advantage. -->

            We create custom software that streamlines operations and
            accelerates growth.

            <!-- Formation is a data and design studio  -->

            <!-- We use data and design to solve business problems. -->

            <!-- We find clarity in the complex. -->

            <!-- Custom software for piece of mind. -->

            <!-- Custom software for speed, performance, and growth. -->

            <!-- We create tools and platforms to streamline businesses -->

            <!-- Technology as your comptetive advantage. -->
        </h1>
        <div
            class="col-auto show-on-scroll"
            data-show-delay="400"
            data-show-distance="20"
            data-show-duration="500"
            data-show-origin="up"
        >
            <span data-fancybox class="btn-link btn-white"
                >launching 9/1/21</span
            >
        </div>
    </div>
</div>

<div class="py-160 shape-parent overflow-hidden">
    <div class="shape mt-n160 justify-content-end">
        <svg
            data-rellax-speed="-1"
            class="mt-n160"
            width="498"
            height="641"
            viewBox="0 0 498 641"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5" />
        </svg>
    </div>

    <div class="container mt-n10 overflow-hidden">
        <div class="row justify-content-center align-items-center gh-5 gv-5">
            <div
                class="col-12 col-lg-6 col-xl-5 show-on-scroll"
                data-show-duration="800"
            >
                <div class="subtitle">our services</div>
                <h2 class="h3">
                    We build the digitial engine for your business.
                </h2>
                <p>
                    Our approach is to use data and design to create incredibly
                    useful and intuitive software platforms that eliminate the
                    barriers that lie between you, your clients, and your
                    profitability.
                </p>
                <a href="" class="btn btn-dark btn-with-ball">all services</a>
            </div>

            <div
                class="col-12 col-lg-6 col-xl-5 show-on-scroll"
                data-show-delay="200"
                data-show-duration="800"
            >
                <ul class="nav nav-md nav-bordered flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Web / Mobile Development {{ icon.arrow_right | safe
                            | replace('svg width', 'svg class="icon-arrow
                            icon-arrow-right" width') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Data Visualization / Analytics {{ icon.arrow_right |
                            safe | replace('svg width', 'svg class="icon-arrow
                            icon-arrow-right" width') }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            UX / UI Design {{ icon.arrow_right | safe |
                            replace('svg width', 'svg class="icon-arrow
                            icon-arrow-right" width') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container mt-n10">
    <div class="pt-160">
        <h2 class="text-center mb-100 mt-n10"></h2>
    </div>
    <br />
    <br />
    <br />
</div>
{% endblock %}
